*,
body {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    height: 100%;
}

/* navbar */

.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100px;
}

.title {
    margin: auto 8px;
    
    font-size: 24px;
    font-weight: bold;
    color: rgb(167, 118, 27);
}

#search {
    border: 2px solid #a38b8b;
    font-size: 16px;
}


/* main */
main {
    margin: 20px;
    
    display: grid;
    grid-template-columns: 1fr 25%;
    grid-gap: 8px;
}

.video-box {
    border: 2px solid red;
}

.sidebar {
    border: 2px solid blue;
}
